<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.workbench.texteditor.rulerColumns">
      <column
            class="com.jedruch.eclipse.gitgutter.GitGutterColumn"
            enabled="false"
            global="true"
            id="com.jedruch.eclipse.gitgutter.column"
            includeInMenu="true"
            name="GitGutter">
         <placement
               gravity="1.0">
         </placement>
         <targetClass
               class="org.eclipse.ui.texteditor.AbstractDecoratedTextEditor">
         </targetClass>
      </column>
   </extension>
   <extension
         point="org.eclipse.ui.editors.annotationTypes">
      <type
            name="com.jedruch.eclipse.gitgutter.diff">
      </type>
   </extension>
   <extension
         point="org.eclipse.ui.editors.markerAnnotationSpecification">
      <specification
            annotationImageProvider="com.jedruch.eclipse.gitgutter.ui.AnnotationImageProvider"
            annotationType="com.jedruch.eclipse.gitgutter.diff"
            colorPreferenceKey="com.jedruch.eclipse.gitgutter.color"
            colorPreferenceValue="192,255,192"
            contributesToHeader="false"
            highlightPreferenceKey="com.jedruch.eclipse.gitgutter.highlight"
            highlightPreferenceValue="true"
            includeOnPreferencePage="true"
            isGoToNextNavigationTarget="false"
            isGoToNextNavigationTargetKey="com.jedruch.eclipse.gitgutter.isGoToNextNavigationTargetKey"
            isGoToPreviousNavigationTarget="false"
            isGoToPreviousNavigationTargetKey="com.jedruch.eclipse.gitgutter.isGoToPreviousNavigationTargetKey"
            label="GitGutter"
            overviewRulerPreferenceKey="com.jedruch.eclipse.gitgutter.overviewRuler"
            overviewRulerPreferenceValue="false"
            presentationLayer="0"
            showInNextPrevDropdownToolbarAction="false"
            showInNextPrevDropdownToolbarActionKey="com.jedruch.eclipse.gitgutter.showInNextPrevDropdownToolbarAction"
            textPreferenceKey="com.jedruch.eclipse.gitgutter.text"
            textPreferenceValue="true"
            textStylePreferenceKey="com.jedruch.eclipse.gitgutter.stylePreferences"
            textStylePreferenceValue="NONE"
            verticalRulerPreferenceKey="com.jedruch.eclipse.gitgutter.verticalRuler"
            verticalRulerPreferenceValue="true"/>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="com.jedruch.eclipse.gitgutter.WorkbenchListener">
      </startup>
   </extension>
</plugin>
