<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.workbench.texteditor.rulerColumns">
      <column
            class="com.jedruch.eclipse.gitgutter.GitGutterColumn"
            enabled="true"
            global="true"
            id="com.jedruch.eclipse.gitgutter.column"
            includeInMenu="true"
            name="GitGutter">
         <placement
               gravity="1.0">
         </placement>
         <targetClass
               class="org.eclipse.ui.texteditor.AbstractDecoratedTextEditor">
         </targetClass>
      </column>
   </extension>
   <extension
         point="org.eclipse.ui.editors.annotationTypes">
      <type
            name="com.jedruch.eclipse.gitgutter.diff">
      </type>
   </extension>
   <extension
         point="org.eclipse.ui.editors.markerAnnotationSpecification">
      <specification
            annotationType="com.jedruch.eclipse.gitgutter.diff"
            colorPreferenceKey="fullcoverage_color"
            colorPreferenceValue="192,255,192"
            contributesToHeader="false"
            highlightPreferenceKey="fullcoverage_highlight"
            highlightPreferenceValue="true"
            includeOnPreferencePage="true"
            isGoToNextNavigationTarget="false"
            isGoToNextNavigationTargetKey="fullcoverage_isGoToNextNavigationTargetKey"
            isGoToPreviousNavigationTarget="false"
            isGoToPreviousNavigationTargetKey="fullcoverage_isGoToPreviousNavigationTargetKey"
            label="%fullCoverageAnnotation.label"
            overviewRulerPreferenceKey="fullcoverage_overviewRuler"
            overviewRulerPreferenceValue="false"
            presentationLayer="0"
            showInNextPrevDropdownToolbarAction="false"
            showInNextPrevDropdownToolbarActionKey="fullcoverage_showInNextPrevDropdownToolbarAction"
            textPreferenceKey="fullcoverage_text"
            textPreferenceValue="true"
            textStylePreferenceKey="fullcoverage_stylePreferences"
            textStylePreferenceValue="BOX"
            verticalRulerPreferenceKey="fullcoverage_verticalRuler"
            verticalRulerPreferenceValue="true"/>
   </extension>
</plugin>
